ptflops==0.6.6
numpy==1.21.0
pandas==1.3.2
ConfigArgParse==1.5.1
matplotlib==3.4.2
opencv_python==4.5.3.56
tqdm==4.61.2
dill==0.3.4
torch==1.9.0
torchvision==0.10.0
imageio==2.9.0
ipdb==0.13.9
lmdb==1.2.1
Pillow==8.3.1
pytest==6.2.4
PyYAML==5.4.1
scikit_learn==0.24.2
